/lqgtest
/rfx_test
/doc/javadoc
/doc/html
/doc/man/*.1
/.deps
/cartpend
/*.dat
/cp.e
/Makefile.in
/aclocal.m4
/amino-0.20110914.tar.gz
/autoscan.log
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/install-sh
/aa_test
/missing
/stamp-h1
/ltmain.sh
/libtool
/depcomp
/autom4te.cache
/.libs
*.la
*.lo
*.tar.gz
/cp.eps
/debian/files
/debian/tmp
/debian/libreflex0
/debian/libreflex-dev
/debian/*.debhelper
/debian/*.log
/debian/*.substvars
/doxygen-doc
/texput.log
/Makefile
/plot_test
/compile
.dirstamp
*.class
*.jar
/org_golems_reflex_Lib.h
/*.mod
/reflex_mod.f90
/test-tf-filter
/tf-filter-x-est.eps
/tf-filter-z.eps
/tf-filter.eps
/rfx-trajgen
/doc/.javadoc.stamp
/doc/Makefile
/doc/Makefile.in
/rfx-camcal
